{% extends 'base_layout.html' %}
{% load static %}

{% block content %}


    <link rel="stylesheet" href="{% static 'message/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'message/css/font-awesome.min.css' %}"/>

    <div class="container">

        <div class="row justify-content-md-center">


            <div class="col-md-4">
                <div id="user-list" class="list-group">
                    <a href="" class="list-group-item disabled">
                        <h4 class="list-group-item-heading">Kullanicilar</h4>
                    </a>
                </div>
            </div>

            <div class="col-md-7">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Sohbet </h4>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Mesajınızı buraya yazın ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                Gönder</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
    </script>
    {#    <script src="{% static 'message/js/app.js' %}"></script>#}


    <script>
        let currentRecipient = '';
        let chatInput = $('#chat-input');
        let chatButton = $('#btn-send');
        let userList = $('#user-list');
        let messageList = $('#messages');

        function updateUserList() {


            $.getJSON('/etutproje/sbs/message/api/v1/kul/', function (data) {
                console.log(data);
                userList.children('.user').remove();
                for (let i = 0; i < data.count; i++) {
                    console.log('beklenilen =' + data.results[i]['username'])
                    const userItem = ` <a class="list-group-item user" id="${data.results[i]['username']}"><img class="img-circle" style="width: 30px;height: 30px;" src='{{ MEDIA_URL }}${data.results[i]['image']}'>    ${data.results[i]['first_name']} ${data.results[i]['last_name']}</a>`;
                    $(userItem).appendTo('#user-list');
                }
                $('.user').click(function () {
                    userList.children('.active').removeClass('active');
                    let selected = event.target;
                    $(selected).addClass('active');
                    setCurrentRecipient(selected.id);
                });
            });
        }

        function drawMessage(message) {
            console.log("draw mesaj ");
            let position = 'left';
            const date = new Date(message.creationDate);
            if (message.user === currentUser) position = 'right';
            const messageItem = `
            <li class="message ${position}">
                <div class="avatar">${message.user}</div>
                    <div class="text_wrapper">
                        <div class="text">${message.body}<br>
                            <span class="small">${date}</span>
                    </div>
                </div>
            </li>`;
            $(messageItem).appendTo('#messages');
        }

        function getConversation(recipient) {
            console.log("get convert");
            $.getJSON(`/etutproje/sbs/message/api/v1/mesaj/?target=${recipient}`, function (data) {
                console.log(data);
                messageList.children('.message').remove();
                for (let i = data['results'].length - 1; i >= 0; i--) {
                    drawMessage(data['results'][i]);
                }
                messageList.animate({scrollTop: messageList.prop('scrollHeight')});
            });

        }

        function getMessageById(message) {
            console.log("get mesaj ");
            id = JSON.parse(message).message
            $.getJSON(`/etutproje/sbs/message/api/v1/mesaj/${id}/`, function (data) {
                if (data.user === currentRecipient ||
                    (data.recipient === currentRecipient && data.user == currentUser)) {
                    drawMessage(data);
                }
                messageList.animate({scrollTop: messageList.prop('scrollHeight')});
            });
        }

        function sendMessage(recipient, body) {

            $.post('/etutproje/sbs/message/api/v1/mesaj/', {
                recipient: recipient,
                body: body
            }).fail(function () {

                alert('Error! Check console!');
            });
        }

        function setCurrentRecipient(username) {

            console.log("set curre");
            currentRecipient = username;
            getConversation(currentRecipient);
            enableInput();
        }


        function enableInput() {
            chatInput.prop('disabled', false);
            chatButton.prop('disabled', false);
            chatInput.focus();
        }

        function disableInput() {
            console.log("disable input ");
            chatInput.prop('disabled', true);
            chatButton.prop('disabled', true);
        }

        $(document).ready(function () {
            updateUserList();
            disableInput();

            var q = document.URL.split('?')[1];
            console.log(q)
            if (q != null) {
                var username = q.split('=')[1]
                if (username != null) {

                    setCurrentRecipient(username)
                }

            }


            console.log("gelecek ws");

            // // let socket = new WebSocket(`ws://127.0.0.1:8000/?session_key=${sessionKey}`);
            // var socket = new WebSocket(
            //     'ws://' + window.location.host +
            //     '/ws?session_key=${sessionKey}')

            chatInput.keypress(function (e) {
                if (e.keyCode == 13)
                    chatButton.click();
            });

            chatButton.click(function () {
                if (chatInput.val().length > 0) {
                    sendMessage(currentRecipient, chatInput.val());
                    chatInput.val('');
                }
            });

            // socket.onmessage = function (e) {
            //     console.log("onmessage");
            //     alert();
            //     getMessageById(e.data);
            // };
        });


    </script>

{% endblock %}