{% extends 'base_layout.html' %}
{% load static %}

{% block content %}


    <link rel="stylesheet" href="{% static 'message/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'message/css/font-awesome.min.css' %}"/>

    <div class="container">

        <div class="row justify-content-md-center">


            {#            <div class="col-md-4">#}
            {#                <div id="user-list" class="list-group">#}
            {#                    <a href="" class="list-group-item disabled">#}
            {#                        <h4 class="list-group-item-heading">Kullanicilar</h4>#}
            {#                                            </a>#}
            {#                </div>#}

            <div class="col-md-10">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Sohbet </h4>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Mesajınızı buraya yazın ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                Gönder</button>
                        </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script>

        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
    </script>
    <script src="{% static 'message/js/app.js' %}"></script>

{% endblock %}