{% extends 'base_layout.html' %}
{% block content %}

    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false"
         xmlns="http://www.w3.org/1999/html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Yükleniyor...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-warning fade in deneme23" tabindex="-1" role="dialog" id="pdf"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Bilgileri Giriniz</h4>
                </div>
                <div class="modal-body">


                    <div class="panel">
                        <div class="box-header with-border">
                            <a data-toggle="collapse" data-parent="#accordion" href="#sec"
                               aria-expanded="false" class="collapsed btn btn-lg">
                                <h4 class="box-title">

                                    Makam Seç

                                </h4>
                            </a>
                        </div>
                        <div id="sec" class="panel-collapse collapse" aria-expanded="false"
                             style="height: 0px;">
                            <div class="box-body">
                                <select class="form-control form-control-lg" id="pdfselect">


                                    <option value="" selected>Seçiniz</option>

                                    <option value="Müdürüm">Müdürüm</option>

                                    <option value="Başkanım">Başkanım</option>

                                    <option value="Bakanım">Bakanım</option>


                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="panel  ">
                        <div class="box-header with-border">
                            <a data-toggle="collapse" data-parent="#accordion" href="#ekle"
                               aria-expanded="false" class="collapsed btn btn-lg">
                                <h4 class="box-title">

                                    Makamı Ekle

                                </h4>
                            </a>
                        </div>
                        <div id="ekle" class="panel-collapse collapse" aria-expanded="false"
                             style="height: 0px;">
                            <div class="box-body">
                                <input class="form-control form-control-lg" id="pdftext" type="text" placeholder="...">

                            </div>
                        </div>
                    </div>


                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-success pull-left btn-ok" id="btn-pdf-gonder"
                            data-dismiss="modal">Kaydet
                    </button>
                    <button type="button" class="btn btn-danger" id="btn-phase-reddet">Geri Dön</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}

    <section class="content-header">
        <h1>
            Proje Düzenle

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Proje Düzenle</a></li>


        </ol>
    </section>

    <section class="content">

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}


            <div class="row">
                {#genel bilgiler #}
                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">GENEL BİLGİLER</h3>


                        </div>
                        <div class="box-header with-border">
                            <div class="btn-group">


                                <a onclick="editPdf()"
                                   type="button" class="btn btn-default"><i
                                        class="fa fa-file-pdf-o"></i> Pdf
                                </a>

                                <a href="{% url "sbs:proje-excel" project.pk %}"
                                   type="button" class="btn btn-default"><i
                                        class="fa fa-file-excel-o"></i> Excel
                                </a>

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ project_form.name.label }}</label>
                                        {{ project_form.name }}
                                    </div>
                                </div>

                                <div class="col-lg-3">

                                    <div class="form-group">
                                        <label> İl</label>
                                        <input type="text" name="city " value="{{ project_form.instance.city }}"
                                               class="form-control" style="width: 100%;"
                                               readonly="readonly" id="city">

                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label> ilçe</label>
                                        <input type="text" name="ilce " value="{{ project_form.instance.town }}"
                                               class="form-control" style="width: 100%;"
                                               readonly="readonly" id="ilce">

                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label> {{ project_form.butceCinsi.label }}</label>
                                                {{ project_form.butceCinsi }}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label> {{ project_form.butceYili.label }}</label>
                                                {{ project_form.butceYili }}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label> {{ project_form.projeCinsi.label }}</label>
                                                {{ project_form.projeCinsi }}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label> {{ project_form.karakteristik.label }}</label>
                                                {{ project_form.karakteristik }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">


                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label> {{ project_form.projectStatus.label }}</label>
                                                {{ project_form.projectStatus }}
                                            </div>
                                        </div>


                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                {% if user.groups.all.0.name == 'Admin' %}



                                                    <label> {{ project_form.sorumlu.label }}</label>
                                                    {{ project_form.sorumlu }}

                                                {% else %}


                                                    <label> Proje Sorumlusu</label>
                                                    <input type="text" name="sorumlu"
                                                           value="{{ project_form.instance.sorumlu }}"
                                                           class="form-control" style="width: 100%;"
                                                           readonly="readonly" id="id_sorumlu">





                                                {% endif %}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">


                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


            </div>


            <div class="row">


                {#    ihale bilgileri           ------------------------------#}


                {#                    <div class="col-md-6">#}
                {#                        <div class="box box-info collapsed-box">#}
                {#                            <div class="box-header with-border">#}
                {#                                <h3 class="box-title">iHALE BİLGİLERİ</h3>#}
                {##}
                {#                                <div class="box-tools pull-right">#}
                {#                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                {#                                            class="fa fa-plus"></i>#}
                {#                                    </button>#}
                {#                                </div>#}
                {#                                <!-- /.box-tools -->#}
                {#                            </div>#}
                {#                            <!-- /.box-header -->#}
                {#                            <div class="box-body" style="display: none;">#}
                {#                                <div class="row" style="padding-bottom: 10px">#}
                {##}
                {##}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> {{ project_form.ihaleTarihi.label }}</label>#}
                {#                                            {{ project_form.ihaleTarihi }}#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> {{ project_form.sozlesmeTarihi.label }}</label>#}
                {#                                            {{ project_form.sozlesmeTarihi }}#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> {{ project_form.aistart.label }}</label>#}
                {#                                            {{ project_form.aistart }}#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> {{ project_form.aifinish.label }}</label>#}
                {#                                            {{ project_form.aifinish }}#}
                {#                                        </div>#}
                {#                                    </div>#}
                {##}
                {##}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> Sözleşme Bedeli (₺)</label>#}
                {#                                            <input type="text" name="sozlesmebedeli"#}
                {#                                                   value="{{ project.sozlesmeBedeli }}"#}
                {#                                                   class="form-control "#}
                {#                                                   id="sozlesmebedeli" pattern="^\$\d{1.}(.\d{3})*(\,\d+)?$"#}
                {#                                                   data-type="currency" readonly="readonly">#}
                {##}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> Sözleşme Bedeli Kdv Dahil(₺)</label>#}
                {#                                            <input type="text" name="sozlesmebedeliKdv"#}
                {#                                                   value="{{ project.sozlesmeBedeliKdv }}"#}
                {#                                                   class="form-control "#}
                {#                                                   id="sozlesmebedeliKdv" pattern="^\$\d{1.}(.\d{3})*(\,\d+)?$"#}
                {#                                                   data-type="currency" readonly="readonly">#}
                {#                                        </div>#}
                {#                                    </div>#}
                {##}
                {##}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> {{ project_form.isSUresi.label }}</label>#}
                {#                                            {{ project_form.isSUresi }}#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group"#}
                {#                                        ">#}
                {#                                        <label>Kaç Gün Kaldı</label>#}
                {##}
                {#                                        <input type="text" name="days" value="{{ days }}"#}
                {#                                               class="form-control pull-right" DISABLED>#}
                {##}
                {##}
                {#                                    </div>#}
                {#                                </div>#}
                {##}
                {##}
                {#                            </div>#}
                {##}
                {##}
                {##}
                {#                        </div>#}
                {#                        <!-- /.box-body -->#}
                {#                    </div>#}
                {#                    <!-- /.box -->#}
                {#                    </div>#}
                {##}
                {##}
                {#    arsa yapım ödenek             ----------------------------------------#}
                {##}
                {##}
                {#                    <div class="col-md-6">#}
                {#                        <div class="box box-info collapsed-box">#}
                {#                            <div class="box-header with-border">#}
                {#                                <h3 class="box-title">ARSA YAPIM ÖDENEK BİLGİLERİ</h3>#}
                {##}
                {#                                <div class="box-tools pull-right">#}
                {#                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                {#                                            class="fa fa-plus"></i>#}
                {#                                    </button>#}
                {#                                </div>#}
                {#                                <!-- /.box-tools -->#}
                {#                            </div>#}
                {#                            <!-- /.box-header -->#}
                {#                            <div class="box-body" style="display: none;">#}
                {#                                <div class="row" style="padding-bottom: 10px">#}
                {##}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> Arsa Alanı (m2)</label>#}
                {#                                            <input type="text" name="arsa" value="{{ project.arsaAlani }}"#}
                {#                                                   class="form-control "#}
                {#                                                   id="arsa" pattern="^\$\d{1.}(.\d{3})*(\,\d+)?$"#}
                {#                                                   data-type="currency" readonly="readonly">#}
                {#                                        </div>#}
                {##}
                {##}
                {#                                    </div>#}
                {##}
                {##}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> İnşaat Alanı (m2)</label>#}
                {#                                            <input type="text" name="insaat" value="{{ project.insaatAlani }}"#}
                {#                                                   class="form-control "#}
                {#                                                   id="insaat" pattern="^\$\d{1.}(.\d{3})*(\,\d+)?$"#}
                {#                                                   data-type="currency" readonly="readonly">#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> Tahmini Ödenek Tutarı (₺)</label>#}
                {#                                            <input type="text" name="tahmini"#}
                {#                                                   value="{{ project.tahminiOdenekTutari }}"#}
                {#                                                   class="form-control "#}
                {#                                                   id="tahmini" pattern="^\$\d{1.}(.\d{3})*(\,\d+)?$"#}
                {#                                                   data-type="currency" readonly="readonly">#}
                {#                                        </div>#}
                {#                                    </div>#}
                {##}
                {#                                    <div class="col-lg-6">#}
                {#                                        <div class="form-group">#}
                {#                                            <label> Yaklaşık Maliyet (₺)</label>#}
                {#                                            <input type="text" name="yaklasik"#}
                {#                                                   value="{{ project.yaklasikMaliyet }}"#}
                {#                                                   class="form-control "#}
                {#                                                   id="yaklasik" pattern="^\$\d{1.}(.\d{3})*(\,\d+)?$"#}
                {#                                                   data-type="currency">#}
                {##}
                {#                                        </div>#}
                {#                                    </div>#}
                {##}
                {#                                    <div class="col-lg-12">#}
                {##}
                {##}
                {#                                    </div>#}
                {##}
                {##}
                {#                                </div>#}
                {##}
                {#                            </div>#}
                {#                            <!-- /.box-body -->#}
                {#                        </div>#}
                {#                        <!-- /.box -->#}
                {#                    </div>#}


                {#         hak ediş bilgileri        ----------------------------------------#}

                {#                    <div class="col-md-6">#}
                {#                        <div class="box box-info collapsed-box">#}
                {#                            <div class="box-header with-border">#}
                {#                                <h3 class="box-title">HAKEDİŞ BİLGİLERİ</h3>#}
                {##}
                {#                                <div class="box-tools pull-right">#}
                {#                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                {#                                            class="fa fa-plus"></i>#}
                {#                                    </button>#}
                {#                                </div>#}
                {#                                <!-- /.box-tools -->#}
                {#                            </div>#}
                {#                            <!-- /.box-header -->#}
                {#                            <div class="box-body" style="display: none;">#}
                {##}
                {#                                <div class="row" style="padding-bottom: 10px">#}
                {##}
                {##}
                {#                                    <div class="col-lg-12">#}
                {#                                        <div class="btn-group">#}
                {#                                            <a class="btn btn-success"#}
                {#                                               data-toggle="modal"#}
                {#                                               onclick=addvest({{ project.pk }})><i#}
                {#                                                    class="fa fa-plus"></i> Hakediş Ekle</a>#}
                {##}
                {##}
                {#                                        </div>#}
                {#                                    </div>#}
                {##}
                {##}
                {#                                </div>#}
                {##}
                {##}
                {#                                <div class="row">#}
                {#                                    <div class="col-lg-12">#}
                {#                                        <table id="hakedistablo" class="table table-bordered table-hover">#}
                {#                                            <thead>#}
                {#                                            <tr>#}
                {#                                                <th>No</th>#}
                {#                                                <th>Tarihi</th>#}
                {#                                                <th>Miktari</th>#}
                {##}
                {##}
                {#                                            </tr>#}
                {#                                            </thead>#}
                {##}
                {#                                            <tbody>#}
                {##}
                {#                                            {% if project.vest.all %}#}
                {#                                                {% for item in project.vest.all %}#}
                {#                                                    <tr id="hakedis-{{ item.pk }}">#}
                {#                                                        <td>{{ forloop.counter }} </td>#}
                {#                                                        <td>{{ item.vestDate }}</td>#}
                {#                                                        <td>{{ item.vest }}</td>#}
                {##}
                {#                                                    </tr>#}
                {##}
                {#                                                {% endfor %}#}
                {#                                            {% endif %}#}
                {##}
                {##}
                {#                                            </tbody>#}
                {#                                        </table>#}
                {#                                    </div>#}
                {##}
                {##}
                {#                                </div>#}
                {##}
                {##}
                {#                            </div>#}
                {#                            <!-- /.box-body -->#}
                {#                        </div>#}
                {#                        <!-- /.box -->#}
                {#                    </div>#}


                {#     proje dökümanlari           ----------------------------------------#}


                {#            <div class="col-md-6">#}
                {#                <div class="box box-info collapsed-box">#}
                {#                    <div class="box-header with-border">#}
                {#                        <h3 class="box-title">PROJE DÖKÜMANLARI</h3>#}
                {##}
                {#                        <div class="box-tools pull-right">#}
                {#                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                {#                                    class="fa fa-plus"></i>#}
                {#                            </button>#}
                {#                        </div>#}
                {#                        <!-- /.box-tools -->#}
                {#                    </div>#}
                {#                    <!-- /.box-header -->#}
                {#                    <div class="box-body" style="display: none;">#}
                {#                        <div class="row" style="padding-bottom: 10px">#}
                {#                            <div class="col-lg-12 ">#}
                {##}
                {##}
                {#                                <div class="col-lg-6">#}
                {##}
                {#                                    <input type="file" name="files" id="files">#}
                {##}
                {#                                </div>#}
                {##}
                {##}
                {##}
                {##}
                {#                            </div>#}
                {##}
                {##}
                {#                        </div>#}
                {#                        <div class="row">#}
                {#                            <div class="col-lg-12">#}
                {#                                <table id="dokuman" class="table table-bordered table-hover">#}
                {#                                    <thead>#}
                {#                                    <tr>#}
                {#                                        <th>No</th>#}
                {#                                        <th>Dosya</th>#}
                {##}
                {##}
                {##}
                {#                                    </tr>#}
                {#                                    </thead>#}
                {##}
                {#                                    <tbody>#}
                {##}
                {##}
                {#                                    {% if project.documents.all %}#}
                {#                                        {% for item in project.documents.all %}#}
                {#                                            <tr id="documents-{{ item.pk }}">#}
                {#                                                <td>{{ forloop.counter }} </td>#}
                {#                                                <td>{{ item.name }}</td>#}
                {##}
                {##}
                {#                                            </tr>#}
                {##}
                {#                                        {% endfor %}#}
                {#                                    {% endif %}#}
                {##}
                {#                                    </tbody>#}
                {#                                </table>#}
                {#                            </div>#}
                {##}
                {##}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <!-- /.box-body -->#}
                {#                </div>#}
                {#                <!-- /.box -->#}
                {#            </div>#}


                {#         personel bilgileri        ----------------------------------------#}


                <div class="col-md-6">
                    <div class="box box-info collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">PERSONEL BİLGİLERİ</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="display: none;">
                            <div class="row" style="padding-bottom: 10px">
                                <div class="col-lg-12">
                                    {#                                <div class="btn-group">#}
                                    {#                                    <a class="btn btn-success"#}
                                    {#                                       data-toggle="modal"#}
                                    {#                                       onclick=addEmployee({{ project.pk }})><i#}
                                    {#                                            class="fa fa-plus"></i> Personel Ekle</a>#}
                                    {##}
                                    {##}
                                    {#                                </div>#}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table id="personelbilgi" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Ünvan</th>
                                            <th>Personel</th>


                                        </tr>
                                        </thead>

                                        <tbody>

                                        {% if project.employees.all %}
                                            {% for item in project.employees.all %}
                                                <tr id="personel-{{ item.pk }}">
                                                    <td>{{ forloop.counter }} </td>
                                                    <td>{{ item.projectEmployeeTitle }}</td>
                                                    <td>{{ item.employee }}</td>

                                                </tr>

                                            {% endfor %}
                                        {% endif %}


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>


                {#     ihtiyac listesi -----------------------------------------   #}
                {#            <div class="col-md-6">#}
                {#                <div class="box box-info collapsed-box">#}
                {#                    <div class="box-header with-border">#}
                {#                        <h3 class="box-title">İHTİYAÇ LİSTESİ</h3>#}
                {##}
                {#                        <div class="box-tools pull-right">#}
                {#                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i#}
                {#                                    class="fa fa-plus"></i>#}
                {#                            </button>#}
                {#                        </div>#}
                {#                        <!-- /.box-tools -->#}
                {#                    </div>#}
                {#                    <!-- /.box-header -->#}
                {#                    <div class="box-body" style="display: none;">#}
                {#                        <div class="row" style="padding-bottom: 10px">#}
                {#                            <div class="col-lg-12">#}
                {#                                <div class="btn-group">#}
                {#                                    <a class="btn btn-success"#}
                {#                                       data-toggle="modal"#}
                {#                                       onclick=addRequirement({{ project.pk }})><i#}
                {#                                            class="fa fa-plus"></i> İhtiyaç Ekle</a>#}
                {##}
                {##}
                {#                                </div>#}
                {#                            </div>#}
                {##}
                {#                        </div>#}
                {#                        <div class="row">#}
                {#                            <div class="col-lg-12">#}
                {#                                <table id="requirementtable" class="table table-bordered table-hover">#}
                {#                                    <thead>#}
                {#                                    <tr>#}
                {#                                        <th>No</th>#}
                {#                                        <th>Adet</th>#}
                {#                                        <th>Tanım</th>#}
                {##}
                {##}
                {#                                    </tr>#}
                {#                                    </thead>#}
                {##}
                {#                                    <tbody>#}
                {##}
                {##}
                {#                                    {% if project.requirements.all %}#}
                {#                                        {% for item in project.requirements.all %}#}
                {#                                            <tr id="requi-{{ item.pk }}">#}
                {#                                                <td>{{ forloop.counter }} </td>#}
                {#                                                <td>{{ item.amount }}</td>#}
                {#                                                <td>{{ item.definition }}</td>#}
                {##}
                {#                                            </tr>#}
                {##}
                {#                                        {% endfor %}#}
                {#                                    {% endif %}#}
                {##}
                {##}
                {#                                    </tbody>#}
                {#                                </table>#}
                {#                            </div>#}
                {##}
                {##}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <!-- /.box-body -->#}
                {#                </div>#}
                {#                <!-- /.box -->#}
                {#            </div>#}
                {##}
                {##}
            </div>

            <div class="row">


                {#            proje asamalari #}
                <div class="col-md-6">
                    <div class="box box-info collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">PROJE AŞAMALARI</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="display: none;">
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-lg-12">
                                    {#                                    <div class="btn-group">#}
                                    {#                                        <a class="btn btn-success"#}
                                    {#                                           data-toggle="modal"#}
                                    {#                                           onclick=addPhase({{ project.pk }})><i#}
                                    {#                                                class="fa fa-plus"></i> Aşama Ekle</a>#}
                                    {##}
                                    {##}
                                    {#                                    </div>#}
                                </div>

                            </div>
                            <div class="row">
                                <div class="box-body chat" id="chat-box1"
                                     style="">

                                    <ul class="todo-list ui-sortable" id="todo-list">
                                        {% if project.phases.all %}
                                            {% for item in project.phases.all %}
                                                <li id='phases-{{ item.pk }}'>
                                                    <small style="font-size: 12px" class="label label-danger"><i
                                                            class="fa fa-clock-o"></i>{{ item.phaseDate|date:"M d, Y" }}
                                                    </small>
                                                    <h4 class="text">{{ item.definition }}</h4>

                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>


                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>

                {#            görüs ve öneriler#}
                <div class="col-md-6">
                    <div class="box box-info collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">GÖRÜŞ VE ÖNERİLER</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="display: none;">

                            <div class="box-footer">
                                <div class="input-group">
                                    <input class="form-control" id="offer" placeholder="Mesaj Giriniz...">

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success"
                                                onclick=addOffer({{ project.pk }})><i class="fa fa-plus"
                                                                                      data-toggle="modal"
                                        ></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body chat" id="chat-box"
                                 style="overflow: auto; width: auto; height: 250px; ">
                                {% if project.offers.all %}
                                    {% for item in project.offers.all|dictsortreversed:"creationDate" %}
                                        <div class="item" id="offset-{{ item.pk }}">
                                            <img src="{{ MEDIA_URL }}/profile/user.png" alt="user image"
                                                 class="offline">

                                            <p class="message">
                                                <a href="#" class="name">
                                                    <small class="text-muted pull-right"><i
                                                            class="fa fa-clock-o"></i> {{ item.creationDate | date:"d/m/Y H:i" }}
                                                    </small>
                                                    {{ item.added_by.first_name }} {{ item.added_by.last_name }}
                                                </a>
                                                {{ item.message }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <!-- /.box-body -->
                            </div>

                            <!-- /.box -->
                        </div>


                    </div>
                </div>
            </div>


        </form>


    </section>



    <script>


        {#    $(document).ready(function(){#}
        {##}
        {##}
        {#        alert('');#}
        {##}
        {##}
        {# });#}


        $(document).ready(function () {
            formatCurrency($('#yaklasik'), "blur");
            formatCurrency($('#insaat'), "blur");
            formatCurrency($('#tahmini'), "blur");
            formatCurrency($('#sozlesmebedeli'), "blur");
            formatCurrency($('#sozlesmebedeliKdv'), "blur");
            formatCurrency($('#arsa'), "blur");
            formatCurrency($('#yaklasik'), "blur");


            $("#sehir").change(function () {
                var city = $(this).find('option:selected').text();
                $("#town").empty();
                ilce(city);
            });


        });


        function ilce(city) {
            $.ajax({
                url: "{% url "sbs:ilce-bilgi" %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    "cmd": city,
                },
                success: function (result) {

                    $("#town").append('<option value="">-----------</option>');

                    for (item in result.data) {
                        $("#town").append('<option value="' + result.data[item].name + '">' + result.data[item].name + '</option>');
                    }
                }
            });

        };


        function personel(id) {
            table = $('#personelbilgi').DataTable();
            table.destroy();
            $('#personelbilgi').DataTable({

                'paging': false,
                'searching': false,
                'ordering': false,
                'responsive': false,
                'autoWidth': false,
                "serverSide": true,
                "processing": true,
                'ajax': {

                    "url": "{% url "sbs:personel-bilgi" %}",
                    "methot": 'POST',
                    "data": {
                        'csrfmiddlewaretoken': "{{  csrf_token  }}",
                        "cmd": id,
                    },
                },


                'columns': [
                    {'data': 'count'},
                    {'data': 'title'},
                    {'data': 'employee'},
                    {
                        "data": null,
                        "bSortable": false,
                        "mRender": function (data) {
                            return '<div class="btn-group"><a type="button" class="btn btn-danger" onclick=deleteEmployee(' + id + ',' + data.pk + ')><i class="fa fa-trash"></i></a></div>'
                        }
                    }

                ],

            });


        };

        function ihtiyac(id) {
            table = $('#requirementtable').DataTable();
            table.destroy();
            $('#requirementtable').DataTable({

                'paging': false,
                'searching': false,
                'ordering': false,
                'responsive': false,
                'autoWidth': false,
                "serverSide": true,
                "processing": true,

                'ajax': {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    "url": "{% url "sbs:ihtiyac-bilgi" %}",
                    "methot": 'POST',
                    "data": {
                        "cmd": id,
                    },
                },


                'columns': [
                    {'data': 'count'},
                    {'data': 'title'},
                    {'data': 'employee'},
                    {
                        "data": null,
                        "bSortable": false,
                        "mRender": function (data) {
                            return '<div class="btn-group"><a type="button" class="btn btn-danger" onclick=deleteRequirement(' + id + ',' + data.pk + ')><i class="fa fa-trash"></i></a></div>'
                        }
                    }

                ],

            });


        };

        function asama(id) {


            $.ajax({
                url: "{% url "sbs:asama-bilgi" %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    "cmd": id,


                },
                success: function (result) {

                    $("#todo-list").empty();
                    for (item in result.data) {

                        $("#todo-list").append(' <li><small style="font-size: 12px" class="label label-danger"><i  class="fa fa-clock-o"></i>' + result.data[item].title + '\n' +
                            '                                                    </small>\n' +
                            '                                                    <h4 class="text">' + result.data[item].employee + '</h4>\n' +
                            '                                                    <div class="tools">\n' +
                            '                                                        <i class="fa fa-edit"></i>\n' +
                            '                                                        <i class="fa fa-trash-o"\n' +
                            '                                                           onclick=deletePhase({{ project.pk }},' + result.data[item].pk + ')></i>\n' +
                            '                                                    </div>\n' +
                            '                                                </li>');


                    }


                }
            });

        };


        function addOffer(id,) {

            $.ajax({
                url: "{% url "sbs:proje-oneri-ekle" pk=212121223232323232  %}".replace(/212121223232323232/, id.toString()),
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                    message: $('#offer').val(),
                    isActive: 'False'

                },
                success: function (result) {

                    var currentTime = new Date();
                    $("#chat-box").prepend('<div class="item"><img src="' + result.image + '" alt="user image" class="offline">' +
                        '<p class="message"><a href="#" class="name"><small class="text-muted pull-right">' +
                        '<i class="fa fa-clock-o"></i>' + result.dates + '</small>' + result.username + '</a>' +
                        $('#offer').val() + '</p></div>');

                    $("#offer").val("");

                }
            });

        }

        function editPdf() {
            {#console.log(id);#}
            {#console.log(competitionId);#}

            $("#pdf").on("shown.bs.modal", function (e) {

                $("#btn-pdf-gonder").click(function (e) {


                        if (e.handled !== true) {
                            e.handled = true;

                            if ($("#pdfselect").val() != "") {

                                var text = $("#pdfselect").val();


                            } else {

                                if ($("#pdftext").val() != "") {


                                    var text = $("#pdftext").val();
                                } else {

                                    var text = "";


                                }
                            }
                            window.location.replace("{% url "sbs:proje-pdf-teknik" project.pk %}?get=" + text + "");


                        }


                    }
                );
            }).modal('show');
            $('#btn-phase-reddet').click(function () {


                $('#modal-warning').modal('hide');
                $('.modal').modal('hide');

            });


        }


    </script>

{% endblock %}



